.grid{
    width: 840px;
    height: 840px;
    border: solid black;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
}

.grid div{
    width: 30px;
    height: 30px;
    box-sizing: border-box;
}

body{
    display: block;
}

.red{
    background-color: red;
    content: url(./img/png-clipart-rose-red-rose.png);
}
.pink{
    content: url(./img/Captura\ de\ pantalla\ 2025-04-04\ 075750.png);
    background-size: cover;
}
.green{
    background-color: green;
    
    content: url(./img/19a1f56d08668fcbbd78b8b33cd951e7.jpg);
}
.blue{
    background-color: blue;
}
.white{
    content: url(./img/s-l400.jpg);
}

.princep{
    content: url(./img/pngtree-knight-medieval-png-image_6509194-removebg-preview.png);
    background-size: cover;

}
.drac1{
    content: url(./img/dragon1.png)
}
.drac2{
    content: url(./img/dragon2.png);

}
.drac3{
    content: url(./img/dragon3.png);

}
.drac4{
    content: url(./img/dragon4.png);

}
.drac-espantat{
    content: url(./img/44490051-una-ilustración-de-dibujos-animados-de-un-dragón-que-parece-asustada.png);
    background-color: lightblue;

}

